// https://teamcolorcodes.com/mlb-color-codes/

$al-central: (
  cws: (
    #27251f,
    #8a8d8f
  ),
  cle: (
    #0c2340,
    #d50032
  ),
  det: (
    #0c2340,
    #fa4616
  ),
  kc: (
    #004687,
    #7ab2dd
  ),
  min: (
    #0c2340,
    #ba0c2f
  )
);
