// https://teamcolorcodes.com/mlb-color-codes/

$al-west: (
  hou: (
    #002d62,
    #eb6e1f
  ),
  laa: (
    #003263,
    #ba0021
  ),
  oak: (
    #034638,
    #ffb81c
  ),
  sea: (
    #0c2340,
    #00685e
  ),
  tex: (
    #c0111f,
    #003278
  )
);
