// https://teamcolorcodes.com/mlb-color-codes/

$al-east: (
  bal: (
    #fc4c02,
    #27251f
  ),
  bos: (
    #c8102e,
    #0c2340
  ),
  nyy: (
    #0c2340,
    #ffffff
  ),
  tb: (
    #092c5c,
    #8fbce6
  ),
  tor: (
    #134a8e,
    #1d2d5c
  )
);
