// https://teamcolorcodes.com/mlb-color-codes/

$nl-central: (
  chc: (
    #002f6c,
    #c8102e
  ),
  cin: (
    #d50032,
    #000000
  ),
  mil: (
    #13294b,
    #85714d
  ),
  pit: (
    #27251f,
    #ffc72c
  ),
  stl: (
    #ba0c2f,
    #0c2340
  )
);
