// https://teamcolorcodes.com/mlb-color-codes/

$nl-west: (
  ari: (
    #a71930,
    #e3d4ad
  ),
  col: (
    #330072,
    #c4ced4
  ),
  lad: (
    #002f6c,
    #e4002b
  ),
  sd: (
    #041e42,
    #a2aaad
  ),
  sf: (
    #fa4616,
    #27251f
  )
);
