// https://teamcolorcodes.com/mlb-color-codes/

$nl-east: (
  atl: (
    #ba0c2f,
    #0c2340
  ),
  mia: (
    #ed6f2e,
    #0077c8
  ),
  nym: (
    #002d72,
    #fc4c02
  ),
  phi: (
    #ba0c2f,
    #003087
  ),
  was: (
    #ba122b,
    #14225a
  )
);
